* {
  padding: 0;
  margin: 0;
}

body {
  /*padding-top: 3rem;
  padding-bottom: 3rem;*/
  color: #333;
  margin-left: 15px;
  margin-right: 15px;
  background-color: #333;
}

main {
  background-color: #fff;
}

.btn-item {
  display: none;
}

.item:hover{
  box-shadow: 1px 1px 5px rgba(51, 51, 51, .3);
}

.item:hover .btn-item{
  display: block;
  box-shadow: 1px 1px 5px rgba(51, 51, 51, .3);
}
.p-card {
  margin-bottom: 0;
  color: #111;
}

.color1{
  color: #ffc107 !important;
}

.color2{
  color: #333 !important;
}

.color3{
  color: #eee !important;
}

.bg-color1{
  background-color: #ffc107 !important;
}

.bg-color2{
  background-color: #333 !important;
}

.bg-color3{
  background-color: #eee !important;
}

.border-color1{
  border: 1px solid #ffc107 !important;
}

.border-color2{
  border: 1px solid #333 !important;
}

.border-color3{
  border: 1px solid #eee !important;
}

.btn-outline-primary {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-primary:hover {
  color: #333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.5);
}

.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
  color: #333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.5);
}

.btn-outline-primary:disabled, .btn-outline-primary.disabled {
  color: #ffc107;
  background-color: transparent;
}

.btn-primary {
  color: #ffc107;
  background-color: #333;
  border-color: #ffc107;
}

.btn-primary:hover {
  color: #333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.5);
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .btn-primary.dropdown-toggle.show {
  color: #333;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .btn-primary.dropdown-toggle.show:focus {
  box-shadow: 0 0 0 0.25rem rgba(51, 51, 51, 0.5);
}

.btn-primary:disabled, .btn-primary.disabled {
  color: #ffc107;
  background-color: transparent;
}

/*Input*/

.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #333;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control {
    transition: none;
  }
}
.form-control[type=file] {
  overflow: hidden;
}
.form-control[type=file]:not(:disabled):not([readonly]) {
  cursor: pointer;
}
.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #333;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 193, 7, 0.25);
}
.form-control::-webkit-date-and-time-value {
  height: 1.5em;
}
.form-control::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control::placeholder {
  color: #6c757d;
  opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}
.form-control::file-selector-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::file-selector-button {
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::file-selector-button {
  background-color: #333;
}
.form-control::-webkit-file-upload-button {
  padding: 0.375rem 0.75rem;
  margin: -0.375rem -0.75rem;
  -webkit-margin-end: 0.75rem;
  margin-inline-end: 0.75rem;
  color: #212529;
  background-color: #e9ecef;
  pointer-events: none;
  border-color: inherit;
  border-style: solid;
  border-width: 0;
  border-inline-end-width: 1px;
  border-radius: 0;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
@media (prefers-reduced-motion: reduce) {
  .form-control::-webkit-file-upload-button {
    -webkit-transition: none;
    transition: none;
  }
}
.form-control:hover:not(:disabled):not([readonly])::-webkit-file-upload-button {
  background-color: #dde0e3;
}

/* Checkbpox */
.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.form-check-input {
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid rgba(0, 0, 0, 0.25);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
}

.form-check-input[type=checkbox] {
  border-radius: 0.25em;
}

.form-check-input[type=radio] {
  border-radius: 50%;
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input:focus {
  border-color: #ffc107;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(10, 10, 10, 0.25);
}

.form-check-input:checked {
  background-color: #ffc107;
  border-color: #333;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

.form-check-input:checked[type=radio] {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

.form-check-input[type=checkbox]:indeterminate {
  background-color: #333;
  border-color: #333;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.form-check-input:disabled {
  pointer-events: none;
  filter: none;
  opacity: 0.5;
}

.form-check-input[disabled] ~ .form-check-label, .form-check-input:disabled ~ .form-check-label {
  opacity: 0.5;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .nav-link {
    transition: none;
  }
}

.nav-link:hover, .nav-link:focus {
  color: #ffc107;
}

.nav-link.disabled {
  color: #6c757d;
  pointer-events: none;
  cursor: default;
}

/* Carousel base class */
.carousel {
  /*margin-bottom: 4rem;*/
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 5rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 35rem;
}

.card-glass {
  background-color: rgba(255, 193, 7, 0.3);
  border-radius: 15px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.card-glass:before {
  background-color: rgba(255, 193, 7, 0.3);
}

.contact-icon {
  font-size: 15px;
  color: #333;
  margin-right:  5px;
}

.contact-icon-footer {
  color:  #ffc107;
  min-width:  35px;
  height:  35px;
  padding: 10px;
  margin-right: 5px;
  background-color: #333;
  border-radius:  50px;
}

.contact-icon-footer:hover {
  color:#333;
  background-color: #ffc107;
  border: 1px solid #333;
}

.border-bottom {
  border-bottom: 1px solid #333 !important;
}
