<h3>validation de votre compte!</h3>

Bonjour {{ name }}! votre compte a été créer avec succès.
Veuillez <a href="{{ url('validate',{"email": email,"numValidation": textValidation}) }}">cliquer ici pour valider le compte</a>

Merci !
